body{
  background-color: #0D1426;
}
.container {
  width: 90%;
  margin: 50px auto;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;    gap: 48px; /* إضافة مساحة بين البطاقات */

}
.card {
  width: 230px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;

} 

.card .text {
  padding: 2px 16px;
  color: white;
  line-height: 0.2


}
.card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
/* Header.css */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  border-bottom: 0.2px solid #0f0b0b; /* Add a bottom border line */
  padding: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.header .logo h1 {
  margin: 0;
  font-size: 24px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  padding: 10px 0 10px 30px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: white;
  white-space: nowrap;
  transition: 0.3s;
  text-decoration:none ;
}
.nav-links a:hover {
  color: #ff9900;
}
.intro{
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  width: 100%;

}
.container-intro{
  display: flex;
  justify-content: space-between;

  }
   .intro-text{

    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    margin: 320px 52px 39px 150px;
  }
  .intro-text h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #0d1426;
    font-family: "Nunito", sans-serif !important;

}
.intro-text h2 {
  color: #444444;
  margin: 15px 0 0 0;
  font-size: 26px;
}
p {
  font-size: 1.2rem;
  color: var(--grayish-violet);
  line-height: 1.6;
}
.intro-text .btn-large{
  margin-top: 30px;
  padding: 15px 30px;
  border-radius: 50px;
  color: #fff;
  background: #0d1426;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 2rem;


}

@media (min-width: 1024px) {
  .intro {
    background-attachment: fixed;
  }
}